h1 {
    background-color: darkgray;
    text-align: center;
    font-size: "50px"
}

h2 {
    text-decoration-line: underline;
    font-style: bold;
}

img {
    padding: 5px;
    background-color: black;
}

p {
    font: italic;
}

div {
    -webkit-columns: 100px 3;
}
.container {
    width: 1024px;
    margin: 0 auto;
  }
.center {
    text-align: center;
}